@value unit, text-color from "@jetbrains/ring-ui/components/global/global.css";


.empty {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.smile {
  font-size: 19px;
  color: text-color;
  white-space: nowrap;
  text-align: center;
}

.message {
  margin-top: calc(unit * 3);
  font-size: 13px;
  color: text-color;
  text-align: center;
}

.link {
  display: inline-block;
  margin-top: calc(unit);
}
